<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= htmlWebpackPlugin.options.title %></title>

</head>
<body>
  <div class="container">
    <div class="jumbotron mt-3">
      <h1 class="display-4"><%= htmlWebpackPlugin.options.title %></h1>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Enter something</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>